.table-container {
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  word-wrap: break-word;
}

thead {
  background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.no-data {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  padding: 10px;
  font-weight: bold;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}
